.new_log {
  text-align: center;
  background-color: #6e3667;
  margin-left: 10%;
  margin-right: 10%;
  border: solid 5px #88d317;
  border-radius: 15px;
}
.log_section {
  display: flex;
  flex-direction: row;
}

@media all and (min-width: 600px) {
}

@media all and (min-width: 768px) {
}

@media all and (min-width: 960px) {
}
